@model LoginViewModel

@{
    ViewBag.Title = "Вход";
}
    <div class="row text-center d-print-flex justify-content-center align-items-center">
        <div class="col-md-12">
            <form class="form-signin" action="/Home/Login" method="post">
                <h1>Вход:</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-group">
                        <input type="email" asp-for="email" id="inputEmail" class="form-control" name="email" placeholder="Email" required autofocus>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="inputPassword" asp-for="password" class="form-control" name="password" placeholder="Пароль" required>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                <small>Нет аккаунта? <a asp-controller="Home" asp-action="Register" class="button">Регистрация</a></small>
            </form>
        </div>
    </div>